In [3]:
import pandas as pd

This is the raw data provided by the city about TTC bus delays. It covers several years and looks to be a relatively clean dataset. Looking at one of the .xls files for now:

In [5]:
# Load data for 2022
df_delay = pd.read_excel('ttc-bus-delay-data-2022.xlsx')

In [6]:
# Look at the DataFrame

df_delay.info()

print("\nThis dataframe has "+str(len(df_delay))+ ' rows\n')

print('there are '+ str(len(set(df_delay['Incident']))) + ' unique types of delays in this dataframe\n')

print('The delay types are:\n '+ str(set(df_delay['Incident'])) )

df_delay.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58707 entries, 0 to 58706
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       58707 non-null  datetime64[ns]
 1   Route      58323 non-null  object
 2   Time       58707 non-null  object
 3   Day        58707 non-null  object
 4   Location   58707 non-null  object
 5   Incident   58707 non-null  object
 6   Min Delay  58707 non-null  int64
 7   Min Gap    58707 non-null  int64
 8   Direction  48227 non-null  object
 9   Vehicle    58707 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 4.5+ MB

This dataframe has 58707 rows

there are 15 unique types of delays in this dataframe

The delay types are:
 {'Diversion', 'Road Blocked - NON-TTC Collision', 'Emergency Services', 'Held By', 'Utilized Off Route', 'Investigation', 'Security', 'Cleaning - Unsanitary', 'Cleaning - Disinfection', 'General Delay', 'Vision', 'Collision - TTC', 'Mechanical', 'Late Entering Service', 'Operations - Operator'}

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2022-01-01,320,02:00,Saturday,YONGE AND DUNDAS,General Delay,0,0,NaN,8531
1,2022-01-01,325,02:00,Saturday,OVERLEA AND THORCLIFFE,Diversion,131,161,W,8658
2,2022-01-01,320,02:00,Saturday,YONGE AND STEELES,Operations - Operator,17,20,S,0
3,2022-01-01,320,02:07,Saturday,YONGE AND STEELES,Operations - Operator,4,11,S,0
4,2022-01-01,320,02:13,Saturday,YONGE AND STEELES,Operations - Operator,4,8,S,0

I will now try to convert the Date and Time columns to a new Datetime column

In [8]:
try:
    df_delay['Date'] = pd.to_datetime(df_delay['Date'])

    # Convert 'Time' column to Timedelta format
    df_delay['Time'] = pd.to_timedelta(df_delay['Time'] + ':00')

    # Combine 'Date' and 'Time' into a new column 'DateTime'
    df_delay['DateTime'] = df_delay['Date'] + df_delay['Time']
except:
    pass

# View dataframe
df_delay.head()

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,DateTime
0,2022-01-01,320,0 days 02:00:00,Saturday,YONGE AND DUNDAS,General Delay,0,0,NaN,8531,2022-01-01 02:00:00
1,2022-01-01,325,0 days 02:00:00,Saturday,OVERLEA AND THORCLIFFE,Diversion,131,161,W,8658,2022-01-01 02:00:00
2,2022-01-01,320,0 days 02:00:00,Saturday,YONGE AND STEELES,Operations - Operator,17,20,S,0,2022-01-01 02:00:00
3,2022-01-01,320,0 days 02:07:00,Saturday,YONGE AND STEELES,Operations - Operator,4,11,S,0,2022-01-01 02:07:00
4,2022-01-01,320,0 days 02:13:00,Saturday,YONGE AND STEELES,Operations - Operator,4,8,S,0,2022-01-01 02:13:00

In [9]:
df_delay['Incident'].nunique()

15