# Pandas Express
# TTC-Delays project
This notebook reads, cleans, and concatenates the bus delay data into a unified dataset and saves it in chunks to enable upload and downlowad too and from the GitHub repo.

In [1]:
import numpy as numpy
import pandas as pd
import os
import numpy as np
!pip install rapidfuzz
import re
import datetime as dt
import glob

Create function to read the individual delay data csv's. Then clean the individual csv's and concatenate them.

In [2]:
def read_excel_sheets(file_path):
    xls = pd.ExcelFile(file_path)
    data_frames = []
    for sheet_name in xls.sheet_names:
        df = pd.read_excel(xls, sheet_name)
        data_frames.append(df)
    return pd.concat(data_frames, ignore_index=True)

In [3]:
df_2014 = read_excel_sheets('bus_2014.xlsx')
df_2015 = read_excel_sheets('bus_2015.xlsx') 
df_2016 = read_excel_sheets('bus_2016.xlsx') 
df_2017 = read_excel_sheets('bus_2017.xlsx')

In [4]:
df_2018 = read_excel_sheets('bus_2018.xlsx')
df_2018.columns = list(df_2018.columns[:-1]) + ['Min Delay2']

In [5]:
df_2018['min_delay_combined'] = df_2018['Min Delay'].combine_first(df_2018['Min Delay2'])
df_2018.drop(columns=['Min Delay', 'Min Delay2'], inplace=True)
df_2018.rename(columns={'min_delay_combined': 'Min Delay'}, inplace=True)

In [6]:
df_2019 = read_excel_sheets('bus_2019.xlsx')

In [7]:
df_2019['min_delay_combined'] = df_2019['Min Delay'].combine_first(df_2019['Delay'])
df_2019.drop(columns=['Min Delay', 'Delay'], inplace=True)
df_2019.rename(columns={'min_delay_combined': 'Min Delay'}, inplace=True)

df_2019['min_gap_combined'] = df_2019['Min Gap'].combine_first(df_2019['Gap'])
df_2019.drop(columns=['Min Gap', 'Gap'], inplace=True)
df_2019.rename(columns={'min_gap_combined': 'Min Gap'}, inplace=True)

df_2019.head()

,Report Date,Route,Time,Day,Location,Incident,Direction,Vehicle,Incident ID,Min Delay,Min Gap
0,2019-01-01,39,00:13:00,Tuesday,NECR,Mechanical,W/B,1794.0,NaN,9.0,18.0
1,2019-01-01,111,00:15:00,Tuesday,Eglington,Mechanical,S/B,8065.0,NaN,15.0,30.0
2,2019-01-01,35,00:18:00,Tuesday,Finch,Mechanical,S/B,3275.0,NaN,9.0,18.0
3,2019-01-01,25,00:30:00,Tuesday,Don Mills Rd/Eglinton Ave E,Mechanical,N/B,8840.0,NaN,9.0,18.0
4,2019-01-01,36,00:40:00,Tuesday,Humberwood,Investigation,E/B,9119.0,NaN,9.0,18.0

In [8]:
df_2020 = read_excel_sheets('bus_2020.xlsx')

In [9]:
df_2020['min_delay_combined'] = df_2020['Delay'].combine_first(df_2020['Min Delay'])
df_2020.drop(columns=['Min Delay', 'Delay'], inplace=True)
df_2020.rename(columns={'min_delay_combined': 'Min Delay'}, inplace=True)

df_2020['min_gap_combined'] = df_2020['Gap'].combine_first(df_2020['Min Gap'])
df_2020.drop(columns=['Min Gap', 'Gap'], inplace=True)
df_2020.rename(columns={'min_gap_combined': 'Min Gap'}, inplace=True)

df_2020['Date_combined'] = df_2020['Report Date'].combine_first(df_2020['Date'])
df_2020.drop(columns=['Report Date', 'Date'], inplace=True)
df_2020.rename(columns={'Date_combined': 'Report Date'}, inplace=True)

df_2020.head()

,Route,Time,Day,Location,Incident,Direction,Vehicle,Min Delay,Min Gap,Report Date
0,94.0,00:01:00,Wednesday,Ossington station and Castle Frank Station,General Delay,B/W,NaN,10.0,20.0,2020-01-01
1,320.0,01:31:00,Wednesday,Yonge @ Queen,Diversion,B/W,NaN,1.0,1.0,2020-01-01
2,29.0,01:37:00,Wednesday,Dufferin loop,Mechanical,N/B,9028.0,8.0,14.0,2020-01-01
3,102.0,01:40:00,Wednesday,Warden station,Mechanical,N/B,8504.0,11.0,22.0,2020-01-01
4,68.0,01:42:00,Wednesday,Warden Station,Mechanical,N/B,8721.0,8.0,23.0,2020-01-01

In [10]:
df_2021 = read_excel_sheets('bus_2021.xlsx')
df_2021.rename(columns={'Date': 'Report Date'}, inplace=True)
df_2021 = df_2021.iloc[:, :-3]

In [11]:
df_2021.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2021-01-01,320,04:26,Friday,YONGE AND STEELES,Emergency Services,0,0,N,1553
1,2021-01-01,63,05:04,Friday,CANNIFF AND STRACHAN,Mechanical,10,0,N,8144
2,2021-01-01,42,05:34,Friday,WILSON GARAGE,Mechanical,24,48,N,8365
3,2021-01-01,320,05:44,Friday,YONGE AND STEELES,Emergency Services,15,30,N,8181
4,2021-01-01,35,06:21,Friday,JANE STATION,Vision,30,60,E,3186

In [12]:
df_2022 = read_excel_sheets('bus_2022.xlsx')
df_2022.rename(columns={'Date': 'Report Date'}, inplace=True)

In [13]:
df_2022.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2022-01-01,320,02:00,Saturday,YONGE AND DUNDAS,General Delay,0,0,NaN,8531
1,2022-01-01,325,02:00,Saturday,OVERLEA AND THORCLIFFE,Diversion,131,161,W,8658
2,2022-01-01,320,02:00,Saturday,YONGE AND STEELES,Operations - Operator,17,20,S,0
3,2022-01-01,320,02:07,Saturday,YONGE AND STEELES,Operations - Operator,4,11,S,0
4,2022-01-01,320,02:13,Saturday,YONGE AND STEELES,Operations - Operator,4,8,S,0

In [14]:
batch1_list = [df_2014,df_2015,df_2016,df_2017,df_2018,df_2019]
batch1 = pd.concat(batch1_list)

batch1['YTime'] = pd.to_datetime(batch1['Time'], format='%H:%M:%S', errors='coerce').dt.strftime('%H:%M')
batch1['DateTime'] = batch1['Report Date'].dt.strftime('%Y-%m-%d')+'-'+ batch1['YTime']
batch1['DateTime'] = pd.to_datetime(batch1['DateTime'])

drop_columns = ['YTime','Time','Report Date','Direction']
batch1 = batch1.drop(drop_columns, axis = 1)

In [15]:
batch1.head()

,Route,Day,Location,Incident,Min Delay,Min Gap,Vehicle,Incident ID,DateTime
0,95,Wednesday,York Mills station,Mechanical,10.0,20.0,1734.0,NaN,2014-01-01 00:23:00
1,102,Wednesday,Entire run for route,General Delay,33.0,66.0,8110.0,NaN,2014-01-01 00:55:00
2,54,Wednesday,lawrence and Warden,Mechanical,10.0,20.0,7478.0,NaN,2014-01-01 01:28:00
3,112,Wednesday,Kipling Station,Emergency Services,18.0,36.0,8084.0,NaN,2014-01-01 01:30:00
4,24,Wednesday,VP and Ellesmere,Investigation,10.0,20.0,7843.0,NaN,2014-01-01 01:37:00

In [15]:
batch2=df_2020.copy()
batch2['Time2'] = pd.to_datetime(batch2['Time'], format='%H:%M:%S', errors='coerce').dt.time
batch2['DateTime2'] = pd.to_datetime(batch2['Report Date']) + pd.to_timedelta(batch2['Time2'].astype(str))

batch2['Time3'] = pd.to_datetime(batch2['Time'], format='%H:%M', errors='coerce').dt.time
batch2['DateTime3'] = pd.to_datetime(batch2['Report Date']) + pd.to_timedelta(batch2['Time3'].astype(str))

batch2['Datetime_combined'] = batch2['DateTime2'].combine_first(batch2['DateTime3'])

# Rename 'Datetime_combined' to 'Datetime'
batch2.rename(columns={'Datetime_combined': 'DateTime'}, inplace=True)

# Drop unnecessary columns
batch2.drop(['Time2','Time3' ,'Time', 'DateTime2', 'DateTime3','Report Date'], axis=1, inplace=True)
batch2.head()

,Route,Day,Location,Incident,Direction,Vehicle,Min Delay,Min Gap,DateTime
0,94.0,Wednesday,Ossington station and Castle Frank Station,General Delay,B/W,NaN,10.0,20.0,2020-01-01 00:01:00
1,320.0,Wednesday,Yonge @ Queen,Diversion,B/W,NaN,1.0,1.0,2020-01-01 01:31:00
2,29.0,Wednesday,Dufferin loop,Mechanical,N/B,9028.0,8.0,14.0,2020-01-01 01:37:00
3,102.0,Wednesday,Warden station,Mechanical,N/B,8504.0,11.0,22.0,2020-01-01 01:40:00
4,68.0,Wednesday,Warden Station,Mechanical,N/B,8721.0,8.0,23.0,2020-01-01 01:42:00

In [16]:
batch3_list = [df_2021,df_2022]
batch3 = pd.concat(batch3_list)

batch3['Report Date'] = pd.to_datetime(batch3['Report Date'])
batch3['Time'] = pd.to_datetime(batch3['Time'], format='%H:%M').dt.time

# Create a new 'DateTime' column by combining 'Report Date' and 'Time'
batch3['DateTime'] = batch3.apply(
    lambda row: pd.to_datetime(row['Report Date'].replace(hour=row['Time'].hour, minute=row['Time'].minute, second=row['Time'].second)), axis=1
)

drop_columns = ['Time','Report Date','Direction']
batch3 = batch3.drop(drop_columns, axis = 1)
batch3 = batch3.dropna(subset=['Route'])
batch3.head()

,Route,Day,Location,Incident,Min Delay,Min Gap,Vehicle,DateTime
0,320,Friday,YONGE AND STEELES,Emergency Services,0,0,1553,2021-01-01 04:26:00
1,63,Friday,CANNIFF AND STRACHAN,Mechanical,10,0,8144,2021-01-01 05:04:00
2,42,Friday,WILSON GARAGE,Mechanical,24,48,8365,2021-01-01 05:34:00
3,320,Friday,YONGE AND STEELES,Emergency Services,15,30,8181,2021-01-01 05:44:00
4,35,Friday,JANE STATION,Vision,30,60,3186,2021-01-01 06:21:00

In [17]:

batches = [batch1, batch2, batch3]
df_bus_delay = pd.concat(batches)

In [18]:
df_bus_delay.head(10)

,Route,Day,Location,Incident,Min Delay,Min Gap,Vehicle,Incident ID,DateTime,Direction
0,95,Wednesday,York Mills station,Mechanical,10.0,20.0,1734.0,NaN,2014-01-01 00:23:00,NaN
1,102,Wednesday,Entire run for route,General Delay,33.0,66.0,8110.0,NaN,2014-01-01 00:55:00,NaN
2,54,Wednesday,lawrence and Warden,Mechanical,10.0,20.0,7478.0,NaN,2014-01-01 01:28:00,NaN
3,112,Wednesday,Kipling Station,Emergency Services,18.0,36.0,8084.0,NaN,2014-01-01 01:30:00,NaN
4,24,Wednesday,VP and Ellesmere,Investigation,10.0,20.0,7843.0,NaN,2014-01-01 01:37:00,NaN
5,129,Wednesday,Scarborough Town,Mechanical,10.0,20.0,1755.0,NaN,2014-01-01 01:50:00,NaN
6,36,Wednesday,humberline at woodlot,Mechanical,16.0,32.0,1322.0,NaN,2014-01-01 02:28:00,NaN
7,53,Wednesday,Passmore and Markham,Mechanical,18.0,36.0,7043.0,NaN,2014-01-01 02:30:00,NaN
8,36,Wednesday,finch stn,Mechanical,16.0,30.0,7933.0,NaN,2014-01-01 02:33:00,NaN
9,320,Wednesday,steele at yonge,Mechanical,7.0,14.0,8187.0,NaN,2014-01-01 02:44:00,NaN

Clean up the delay locations so that they can be better matched with the names of ttc stops and street intersections. Save all unique cleaned values to iterate through later with RapidFuzz

In [19]:
df_bus_delay['copy'] = df_bus_delay['Location'].str.lower()
df_bus_delay['copy'] = df_bus_delay['copy'].str.replace('vp','victoria park')
df_bus_delay['copy'] = df_bus_delay['copy'].str.replace('b/w','').str.replace('w/b','').str.replace('e/b','').str.replace('s/b','').str.replace('n/b','')
df_bus_delay['copy'] = df_bus_delay['copy'].str.replace('stn','station').str.replace(' and ','&').str.replace('/','').str.replace(' ','')
df_bus_delay['copy'] = df_bus_delay['copy'].str.replace('(','').str.replace(')','')
df_bus_delay['copy'] = df_bus_delay['copy'].str.replace('@','&')
df_bus_delay['copy'] = df_bus_delay['copy'].astype(str)
df_bus_delay = df_bus_delay[~df_bus_delay['copy'].str.isdigit()]
df_bus_delay['copy'] = df_bus_delay['copy'].apply(lambda x: '&'.join(sorted(x.split('&'))) if x.count('&') == 1 else x)

stops = pd.read_csv('stops.txt')
stops['cleaned_stops'] = stops['stop_name'].str.replace('Side', '').str.replace(' ', '')
stops['cleaned_stops'] = stops['stop_name'].str.lower()
stops['cleaned_stops'] = stops['stop_name'].str.replace('(north)', '').str.replace('(west)', '').str.replace('(south)', '').str.replace('(east)', '')
stops['cleaned_stops'] = stops['cleaned_stops'].astype(str).str.replace('\d+', '', regex=True)


df_bus_delay_fuzz = df_bus_delay[~df_bus_delay['copy'].str.contains('route')].copy()
df_bus_delay_fuzz = df_bus_delay_fuzz[~df_bus_delay_fuzz['copy'].isin(stops['cleaned_stops'])]
df_bus_delay_fuzz = df_bus_delay_fuzz[df_bus_delay_fuzz['copy'].str.contains('&')]

unique_values = pd.unique(df_bus_delay_fuzz['copy'])

# Create a new DataFrame with a column of unique values
df_delay_fuzz = pd.DataFrame({
    'fuzz_locations': unique_values
})

df_bus_delay.to_csv('bus_delay_raw.csv')
df_delay_fuzz.to_csv('fuzz_locations.csv')

Save the cleaned data in 10 chunks to allow upload and download from the repo.

In [23]:
num_chunks = 10
chunk_size = len(df_bus_delay) // num_chunks

# Save each chunk into a separate CSV file
for i in range(num_chunks):
    start_idx = i * chunk_size
    end_idx = (i + 1) * chunk_size if i < num_chunks - 1 else len(df_bus_delay)
    
    chunk_df = df_bus_delay.iloc[start_idx:end_idx]
    
    # Save the chunk to a CSV file with a sequential number
    chunk_df.to_csv(f'bus_delays_{i + 1}.csv', index=False)

In [24]:
df_bus_delay.to_csv('bus_delays_raw.csv', index=False)

In [25]:
df_bus_delay.head(50)

,Route,Day,Location,Incident,Min Delay,Min Gap,Vehicle,Incident ID,DateTime,Direction,copy
0,95,Wednesday,York Mills station,Mechanical,10.0,20.0,1734.0,NaN,2014-01-01 00:23:00,NaN,yorkmillsstation
1,102,Wednesday,Entire run for route,General Delay,33.0,66.0,8110.0,NaN,2014-01-01 00:55:00,NaN,entirerunforroute
2,54,Wednesday,lawrence and Warden,Mechanical,10.0,20.0,7478.0,NaN,2014-01-01 01:28:00,NaN,lawrence&warden
3,112,Wednesday,Kipling Station,Emergency Services,18.0,36.0,8084.0,NaN,2014-01-01 01:30:00,NaN,kiplingstation
4,24,Wednesday,VP and Ellesmere,Investigation,10.0,20.0,7843.0,NaN,2014-01-01 01:37:00,NaN,ellesmere&victoriapark
5,129,Wednesday,Scarborough Town,Mechanical,10.0,20.0,1755.0,NaN,2014-01-01 01:50:00,NaN,scarboroughtown
6,36,Wednesday,humberline at woodlot,Mechanical,16.0,32.0,1322.0,NaN,2014-01-01 02:28:00,NaN,humberlineatwoodlot
7,53,Wednesday,Passmore and Markham,Mechanical,18.0,36.0,7043.0,NaN,2014-01-01 02:30:00,NaN,markham&passmore
8,36,Wednesday,finch stn,Mechanical,16.0,30.0,7933.0,NaN,2014-01-01 02:33:00,NaN,finchstation
9,320,Wednesday,steele at yonge,Mechanical,7.0,14.0,8187.0,NaN,2014-01-01 02:44:00,NaN,steeleatyonge
10,91,Wednesday,Woodbine stn,Mechanical,40.0,60.0,8147.0,NaN,2014-01-01 03:25:00,NaN,woodbinestation
11,129,Wednesday,Mc Cowan at Bridley,Diversion,74.0,0.0,1741.0,NaN,2014-01-01 03:26:00,NaN,mccowanatbridley
12,96,Wednesday,wilson at keele,Mechanical,20.0,40.0,7949.0,NaN,2014-01-01 03:36:00,NaN,wilsonatkeele
13,54,Wednesday,Lawrence and Scarborough Golf Club Rd,Emergency Services,30.0,60.0,7662.0,NaN,2014-01-01 03:39:00,NaN,lawrence&scarboroughgolfclubrd
14,12,Wednesday,VP and Danforth ave,Investigation,25.0,50.0,7886.0,NaN,2014-01-01 03:42:00,NaN,danforthave&victoriapark
15,12,Wednesday,Victoria / Park / Danforth Ave.,Investigation,25.0,50.0,7886.0,NaN,2014-01-01 03:42:00,NaN,victoriaparkdanforthave.
16,54,Wednesday,Lawrence & Charlottetown,Emergency Services,30.0,60.0,7624.0,NaN,2014-01-01 03:50:00,NaN,charlottetown&lawrence
17,302,Wednesday,Mc Cowan and bridley,Diversion,0.0,0.0,NaN,NaN,2014-01-01 04:07:00,NaN,bridley&mccowan
18,320,Wednesday,yonge at queen,Investigation,15.0,30.0,7824.0,NaN,2014-01-01 04:30:00,NaN,yongeatqueen
19,35,Wednesday,Jane and Hullmar,Mechanical,30.0,63.0,1362.0,NaN,2014-01-01 04:55:00,NaN,hullmar&jane
20,54,Wednesday,Lawrence & Brimley,Utilized Off Route,0.0,0.0,7634.0,NaN,2014-01-01 05:15:00,NaN,brimley&lawrence
21,32,Wednesday,Renforth loop,Mechanical,30.0,1.0,1667.0,NaN,2014-01-01 05:20:00,NaN,renforthloop
22,29,Wednesday,Wilson Stn,Late Leaving Garage,10.0,20.0,9429.0,NaN,2014-01-01 05:35:00,NaN,wilsonstation
23,300,Wednesday,Bloor and Lansdowne,Mechanical,6.0,12.0,8137.0,NaN,2014-01-01 05:35:00,NaN,bloor&lansdowne
24,302,Wednesday,Steeles and Mccowan,Late Leaving Garage,30.0,60.0,7788.0,NaN,2014-01-01 05:40:00,NaN,mccowan&steeles
25,809,Wednesday,60 Clearview hights at Trethewey,Utilized Off Route,1.0,1.0,1593.0,NaN,2014-01-01 05:40:00,NaN,60clearviewhightsattrethewey
26,809,Wednesday,60 Clearview hights at Trethewey,Utilized Off Route,1.0,1.0,1591.0,NaN,2014-01-01 05:40:00,NaN,60clearviewhightsattrethewey
27,161,Wednesday,Ossington Station,Late Leaving Garage,13.0,1.0,1638.0,NaN,2014-01-01 05:50:00,NaN,ossingtonstation
28,300,Wednesday,Bloor and Old Mill,Mechanical,6.0,12.0,8122.0,NaN,2014-01-01 05:58:00,NaN,bloor&oldmill
29,96,Wednesday,Arrow Garage,Mechanical,1.0,1.0,1257.0,NaN,2014-01-01 06:05:00,NaN,arrowgarage
30,29,Wednesday,Wilson Stn,Mechanical,10.0,20.0,9444.0,NaN,2014-01-01 06:15:00,NaN,wilsonstation
31,54,Wednesday,Lawrence & Brimley,Diversion,368.0,423.0,7688.0,NaN,2014-01-01 06:35:00,NaN,brimley&lawrence
32,300,Wednesday,Danforth and Danforth,Late Leaving Garage,6.0,12.0,7592.0,NaN,2014-01-01 06:37:00,NaN,danforth&danforth
33,58,Wednesday,T1 - Airport,Late Leaving Garage,20.0,42.0,1568.0,NaN,2014-01-01 06:54:00,NaN,t1-airport
34,41,Wednesday,Founders and Steeles,Late Leaving Garage,10.0,30.0,1578.0,NaN,2014-01-01 07:00:00,NaN,founders&steeles
35,37,Wednesday,Rexdale and Islington,Mechanical,9.0,18.0,7960.0,NaN,2014-01-01 07:30:00,NaN,islington&rexdale
36,54,Wednesday,Eglinton Stn,Mechanical,30.0,41.0,6809.0,NaN,2014-01-01 07:45:00,NaN,eglintonstation
37,96,Wednesday,Carrier Loop,Mechanical,18.0,36.0,1200.0,NaN,2014-01-01 07:45:00,NaN,carrierloop
38,89,Wednesday,Keele and St. Clair,Diversion,90.0,105.0,1620.0,NaN,2014-01-01 07:50:00,NaN,keele&st.clair
39,41,Wednesday,Keele and St. Clair,Diversion,90.0,100.0,1578.0,NaN,2014-01-01 07:50:00,NaN,keele&st.clair
40,34,Wednesday,Eglinton STn,Utilized Off Route,9.0,19.0,7691.0,NaN,2014-01-01 07:54:00,NaN,eglintonstation
41,43,Wednesday,Kennedy Stn,Mechanical,9.0,0.0,7535.0,NaN,2014-01-01 08:00:00,NaN,kennedystation
42,21,Wednesday,Brimley / Lawrence,Diversion,16.0,32.0,7740.0,NaN,2014-01-01 08:00:00,NaN,brimleylawrence
43,58,Wednesday,Lawrence West Station,Late Leaving Garage,20.0,40.0,1634.0,NaN,2014-01-01 08:00:00,NaN,lawrenceweststation
44,86,Wednesday,Kennedy Stn,Mechanical,12.0,25.0,7588.0,NaN,2014-01-01 08:04:00,NaN,kennedystation
45,7,Wednesday,Bathurst and Steeles.,Utilized Off Route,9.0,18.0,8194.0,NaN,2014-01-01 08:06:00,NaN,bathurst&steeles.
46,42,Wednesday,Kennedy Loop,Late Leaving Garage,15.0,30.0,1391.0,NaN,2014-01-01 08:15:00,NaN,kennedyloop
47,310,Wednesday,Bathurst and Wilson,Mechanical,12.0,24.0,8387.0,NaN,2014-01-01 08:20:00,NaN,bathurst&wilson
48,38,Wednesday,Rouge Hill Go Station,Late Leaving Garage,24.0,0.0,1107.0,NaN,2014-01-01 08:24:00,NaN,rougehillgostation
49,30,Wednesday,High Park Station,Mechanical,30.0,0.0,7302.0,NaN,2014-01-01 08:30:00,NaN,highparkstation