# Pandas Express
# TTC-Delays project
Team Members: 

Gaspare Castagna

Amirhossein Heidari

Avery Hoffer

Michael Metallo

In [69]:
import numpy as numpy
import pandas as pd
import os
!pip install geopy
from geopy.geocoders import Nominatim

Collecting geopy
  Downloading geopy-2.4.0-py3-none-any.whl (125 kB)
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.0

Import, read, concat bus delay data

In [3]:
def read_excel_sheets(file_path):
    xls = pd.ExcelFile(file_path)
    data_frames = []
    for sheet_name in xls.sheet_names:
        df = pd.read_excel(xls, sheet_name)
        data_frames.append(df)
    return pd.concat(data_frames, ignore_index=True)

In [123]:
df_2014 = read_excel_sheets('bus_2014.xlsx')
df_2015 = read_excel_sheets('bus_2015.xlsx') 
df_2016 = read_excel_sheets('bus_2016.xlsx') 
df_2017 = read_excel_sheets('bus_2017.xlsx') 
df_2018 = read_excel_sheets('bus_2018.xlsx')
df_2018 = df_2018.iloc[:, :-1]
df_2019 = read_excel_sheets('bus_2019.xlsx')
df_2019 = df_2019.iloc[:, :-3]
df_2020 = read_excel_sheets('bus_2020.xlsx')
df_2020 = df_2020.iloc[:, :-3]
df_2020.rename(columns={'Gap': 'Min Gap', 'Delay': 'Min Delay'}, inplace=True)
df_2021 = read_excel_sheets('bus_2021.xlsx')
df_2021.rename(columns={'Date': 'Report Date'}, inplace=True)
df_2021 = df_2021.iloc[:, :-3]
df_2022 = read_excel_sheets('bus_2022.xlsx')
df_2022.rename(columns={'Date': 'Report Date'}, inplace=True)

bus_delay_list = [df_2014,df_2015,df_2016,df_2017,df_2018,df_2019,df_2020,df_2021,df_2022]
df_bus_delay = pd.concat(bus_delay_list)

df_bus_delay['YTime'] = pd.to_datetime(df_bus_delay['Time'], format='%H:%M:%S', errors='coerce').dt.strftime('%H:%M')
df_bus_delay['DateTime'] = df_bus_delay['Report Date'].dt.strftime('%Y-%m-%d')+'-'+ df_bus_delay['YTime']
df_bus_delay['DateTime'] = pd.to_datetime(df_bus_delay['DateTime'])

drop_columns = ['YTime','Time','Report Date','Direction']
df_bus_delay = df_bus_delay.drop(drop_columns, axis = 1)
df_bus_delay = df_bus_delay.dropna(subset=['Route'])

df_bus_delay['copy'] = df_bus_delay['Location'].str.lower()
df_bus_delay['copy'] = df_bus_delay['copy'].str.replace('vp','victoria park')
df_bus_delay['copy'] = df_bus_delay['copy'].str.replace(' to ','$').str.replace('b/w','').str.replace('w/b','').str.replace('e/b','').str.replace('s/b','').str.replace('n/b','')
df_bus_delay['copy'] = df_bus_delay['copy'].str.replace('stn','station').str.replace(' and ','&').str.replace('/','&').str.replace(' ','')
df_bus_delay['copy'] = df_bus_delay['copy'].astype(str)
df_bus_delay = df_bus_delay[~df_bus_delay['copy'].str.isdigit()]
df_bus_delay['copy'] = df_bus_delay['copy'].apply(lambda x: '&'.join(sorted(x.split('&'))) if x.count('&') == 1 else x)

In [146]:
df_bus_delay.nunique()

Route           491
Day               7
Location     117706
Incident         29
Min Delay       970
Min Gap        1003
Vehicle        4300
DateTime     368729
copy          75883
copy2         75883
dtype: int64

In [136]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 588512 entries, 0 to 588511
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Route_x      588512 non-null  object
 1   Day_x        588512 non-null  object
 2   Location_x   587719 non-null  object
 3   Incident_x   587577 non-null  object
 4   Min Delay_x  551142 non-null  float64
 5   Min Gap_x    556190 non-null  float64
 6   Vehicle_x    518676 non-null  float64
 7   DateTime_x   479206 non-null  datetime64[ns]
 8   copy         587719 non-null  object
 9   copy2        588512 non-null  object
 10  Route_y      0 non-null       object
 11  Day_y        0 non-null       object
 12  Location_y   0 non-null       object
 13  Incident_y   0 non-null       object
 14  Min Delay_y  0 non-null       float64
 15  Min Gap_y    0 non-null       float64
 16  Vehicle_y    0 non-null       float64
 17  DateTime_y   0 non-null       datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(10)
memory usage: 85.3+ MB

,Route,Day,Location,Incident,Min Delay,Min Gap,Vehicle,DateTime,copy
15,12,Wednesday,Victoria / Park / Danforth Ave.,Investigation,25.0,50.0,7886.0,2014-01-01 03:42:00,victoria&park&danforthave.
1377,96,Sunday,Wilson and Jane 165 & 96,Diversion,30.0,45.0,1343.0,2014-01-05 11:20:00,wilson&jane165&96
1769,63,Monday,Oakwood and Eglinton/ Rogers Rd,General Delay,12.0,0.0,NaN,2014-01-06 16:00:00,oakwood&eglinton&rogersrd
3123,191,Thursday,KPSN/HWY 427/HWY27,General Delay,7.0,18.0,NaN,2014-01-09 13:00:00,kpsn&hwy427&hwy27
5297,161,Friday,Old weston rd/Dufferin and Rogers,General Delay,15.0,0.0,NaN,2014-01-17 16:30:00,oldwestonrd&dufferin&rogers

In [176]:
print("2014: "+str(df_2014['Time'][1]))
print("2015: "+str(df_2015['Time'][1]))
print("2016: "+str(df_2016['Time'][1]))
print("2017: "+str(df_2017['Time'][1]))
print("2018: "+str(df_2018['Time'][1]))
print("2019: "+str(df_2019['Time'][1]))
print("2020: "+str(df_2020['Time'][1]))
print("2021: "+str(df_2021['Time'][1]))
print("2022: "+str(df_2022['Time'][1]))

2014: 00:55:00
2015: 00:28:00
2016: 00:25:00
2017: 01:02:00
2018: 00:20:00
2019: 00:15:00
2020: 01:31:00
2021: 05:04
2022: 02:00

In [185]:

df_bus_delay.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,YTime
0,2014-01-01,95,00:23:00,Wednesday,York Mills station,Mechanical,10.0,20.0,E,1734.0,00:23
1,2014-01-01,102,00:55:00,Wednesday,Entire run for route,General Delay,33.0,66.0,b/w,8110.0,00:55
2,2014-01-01,54,01:28:00,Wednesday,lawrence and Warden,Mechanical,10.0,20.0,WB,7478.0,01:28
3,2014-01-01,112,01:30:00,Wednesday,Kipling Station,Emergency Services,18.0,36.0,N,8084.0,01:30
4,2014-01-01,24,01:37:00,Wednesday,VP and Ellesmere,Investigation,10.0,20.0,n,7843.0,01:37

In [ ]:
def isworkingday(day):
    holidays = ['01-01','01-01','02-20','05-22','02-01','08-07','09-04','10-09','11-11','12-25','12-26']
    if day != 'Saturday' or day != 'Sunday':
        if 
    else:
        return False